html {
	color-scheme: light dark;
	font-family: system-ui;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.board {
	display: grid;
}

.square {
	height: 100px;
	width: 100px;
	outline: none;
	border: 1px solid light-dark(#ccc);
	font-size: 1.2rem;
	color: 'light-dark(black, white)';
}

.game-over {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: light-dark(white, #1a1a1a);
	border: 2px solid light-dark(black, white);
	padding: 2rem;
	z-index: 1000;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
